html{
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Inter';
    height:100vh;
}
nav{
    background-color: #21222A;
    display: flex;
    align-items: center;
    padding:0 25px;
height: 91px;
left: 0px;
top: 0px;
}

h3{
    width: 122.39px;
height: 22.25px;
left: 61.61px;
top: 31px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22.2535px;
line-height: 27px;
letter-spacing: -0.05em;
color: #61DAFB;
margin-right: auto;
}
img{
    width: 28.93px;
height: 28.93px;
left: 26px;
top: 31px;

}
h4{
    width: 259px;
height: 21px;
left: 264px;
top: 38px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: right;

color: #DEEBF8;
}

h1{
    width: 424px;
height: 41px;
left: 27px;
top: 148px;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 39.06px;
line-height: 47px;
letter-spacing: -0.05em;

color: #E61C1C;
}
.Main ul{
    width: 390px;
height: 190px;
left: 74px;
top: 235px;

}

.Main ul li{
    margin:23px 0;
}

.Main ul li::marker{
    color:#61DAFB;
}

.Main{
    position:absolute;
    width:100%;
    height:100%;
left: 0px;
top: 91px;
color:white;
padding-left:20px;

background: #282D35;
background-image: url("../src/images/reactjs-icon 2.svg");
background-repeat: no-repeat;
background-position: center right;
}

